.b1{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: "Poppins", sans-serif;  
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: seagreen;
    background-image: url(https://fonerus.ru/_ph/16/2/1002330.gif);

}
 
.wrapper{
    width: 420px;
    background: rgb(37, 141, 72);
    color: #03a2f2 ;
    background-image: url(https://fonerus.ru/_ph/16/2/1002330.gif);
}

.wrapper h1{
    font-size: 36px;
    text-align: center;
   
}

.wrapper .input-box{
    width: 100%;
    height: 50%;
    background: seagreen;
    background-image: url(https://fonerus.ru/_ph/16/2/1002330.gif);
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border:  2px solid rgba(14, 6, 246, 0.975);
    border-radius: 40px;
    font-size: 16px;
    color:  #08cdf0;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
   color: #08b5ea;
}

 
